.dashboard {
    max-width: 100vw;
}

.dashboard-container {
    border: solid 1px #F9B233;
    border-top: solid 12px #F9B233;
}

.dashboard-inner-container {
    padding: 2rem;
    margin: 2rem;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-header h2 {
    letter-spacing: -0.8px;
}

.dashboard-header img {
    max-width: 550px;
}

.certificates {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

.certificates > div {
    padding: 1rem;
}

.certificates h4 {
    letter-spacing: -0.8px;
}

.certificates-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.certificates th {
    text-align: center;
    vertical-align: middle;
    min-width: 100px;
}

.certificates tbody td {
    text-align: center;
}

.certificates > div {
    overflow-x: auto;
}

.certificates p {
    text-align: right;
    padding-right: 0.5rem;
}

.search, .search form {
    display: flex;
}

.search form input {
    margin-right: 1rem;
}

.paginator {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.paginator p {
    margin: 0;
    padding: 0 1rem;
}

.date-picker {
    width: 100%;
}

.custom-table td {
    background-color: #B2BABB;
    color: var(--bs-table-bg);
}

@media screen and (max-width: 1441px) {
    .certificates {
        grid-gap: 1rem;
    }

    .dashboard-header img {
        max-width: 400px;
    }
}

@media screen and (max-width: 480px) {
    .dashboard-header {
        flex-direction: column-reverse;
    }

    .dashboard-header img {
        max-width: 80%;
        margin: 3rem auto 1rem auto
    }

    .dashboard-inner-container {
        padding: 0.5rem;
        margin: 0.5rem;
    }

    .certificates h4 {
        font-size: 18px;
        margin-bottom: 0;
    }

    .certificates th {
        font-size: 11px;
    }

    .certificates tbody td {
        font-size: 10px;
    }

    .certificates-header {
        align-items: center;
    }

    .search {
        margin: auto
    }

    .search, .search form {
        flex-direction: column;
    }

    .search input {
        margin-bottom: 8px;
    }
}